<!DOCTYPE html>
<html lang="ru">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать новость</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/edit-news.css}">
</head>
<body>
    <div class="container">
        <h1>Редактирование новости</h1>
        <form th:action="@{/update-news}" method="post">
            <input type="hidden" name="id" th:value="${news.id}" />

            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" th:value="${news.title}" required />

            <label for="content">Содержание:</label>
            <textarea id="content" name="content" rows="4" required th:text="${news.content}"></textarea>

            <button type="submit">Сохранить изменения</button>
        </form>
        
        <a th:href="@{/moderator}" class="back-link">Назад в кабинет модератора</a>
    </div>
</body>
</html>
