<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование парковочного места</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_page.css}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1>Автомобильный портал</h1>
            <div class="hamburger-container">
                <button class="hamburger" onclick="toggleSidebar()">
                    <div class="middle"></div>
                </button>
            </div>
        </div>
    </header>   

    <div class="tabs">
        <div class="tab active" onclick="showTab('news')">Новости</div>
        <div class="tab" onclick="showTab('catalog')">Каталог автомобилей</div>
    </div>

    <div class="tab-content active" id="news">
        <h2 class="news">Новости</h2>
        <div th:each="news : ${newsList}">
            <div class="news-item">
                <h3 th:text="${news.title}"></h3>
                <p th:text="${news.content}"></p>
                <p th:text="${news.formattedCreatedAt}"></p>
            </div>
        </div>
    </div>
    
    <div class="tab-content" id="catalog">
        <h2 class="catalog-auto">Каталог автомобилей</h2>
        <div th:each="car : ${carList}" class="car-item">
            <img th:src="${car.imageUrl}" alt="Изображение автомобиля" class="car-image"/>
            
            <div class="car-info">
                <h3 th:text="${car.model}"></h3>
                <p th:text="${car.details}"></p>
                <form>
                    <input type="hidden" id="csrf_token" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="hidden" name="userId" th:value="${user_id}"/> 
                    <input type="hidden" name="carId" th:value="${car.id}"/>
                    <button type="button" class="add-to-favorites" th:data-userid="${user_id}" th:data-carid="${car.id}">
                        Добавить в избранное
                    </button>
                </form>
            </div>
        </div>
    </div>
    
    <div id="favorite-notification" class="notification" style="display: none;"></div>    
    
    <input type="hidden" id="user_id" name="user_id" value="{{ user_id }}"> 

    <div id="sidebar" class="sidebar">
        <span class="close-btn" onclick="closeSidebar()">&times;</span>

        <h1>Добро пожаловать, <span th:text="${username}"></span></h1>
        <p th:if="${user_id != null}">
            <a th:href="@{/user_acc/{id}(id=${user_id})}">Перейти в личный кабинет</a>
            <p><a th:href="@{/logout}" class="logout-btn">Выйти</a></p>
        </p>        
    </div>

    <script type="text/javascript" th:src="@{/js/main.js}" defer></script>
</body>
</html>
