<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/usr_acc_page.css}">
</head>
<body>
    <header>
        <h1 th:onclick="'location.href=\'/user_acc/' + ${user_id} + '\''" style="cursor: pointer;">Личный кабинет</h1>
    </header>
    <div class="container">
        <h2>Добро пожаловать, <span th:text="${username}"></span>!</h2>

        <div th:if="${message}" class="alert alert-success">
            <p th:text="${message}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>    
        
        <form th:action="@{/user_acc/{userId}/upload(userId=${userId})}" method="post" enctype="multipart/form-data">
            <center><div class="avatar-container">
                <input type="file" id="avatarInput" name="avatar" accept="image/*" style="display: none;" onchange="this.form.submit()">
                <label for="avatarInput" class="avatar-label">
                    <img th:src="@{${avatarFilename}}" alt="Аватар" class="avatar">
                    <div class="overlay">Изменить</div>
                </label>
            </div></center>
        </form>

             
        <div class="user-info">
            <h3>Ваша информация:</h3>
            <p><strong>Имя пользователя:</strong> <span th:text="${username}"></span></p>
            <p><strong>Дата регистрации:</strong> <span th:text="${created_at}"></span></p>
            <p><strong>Email:</strong> <span th:text="${email}"></span></p>
            <p><strong>Телефон:</strong> <span th:text="${phone}"></span></p>
            <p><strong>Количество посещений:</strong> <span th:text="${visitCount}"></span></p>
            <p><strong>Текущая дата и время:</strong> <span th:text="${serverTime}"></span></p>
        </div>        

        <div class="favorite-cars-section">
            <h2>Избранные автомобили</h2>
            <div th:each="car : ${favoriteCars}">
                <div class="favorite-car-item" th:id="'car-item-' + ${car.id}">
                    <h3 th:text="${car.carModel}"></h3>
                    <center><img th:src="${car.imageUrl}" alt="Изображение автомобиля" style="width: 200px; height: auto;"/></center>
                    <p th:text="${car.carDetails}"></p>
                    <form th:action="@{/remove-favorite}" method="post">
                        <input type="hidden" id="csrf_token" name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <input type="hidden" name="userId" th:value="${user_id}"/> 
                        <input type="hidden" name="carId" th:value="${car.id}"/> 
                        <button class="remove-from-favorites" th:data-userid="${user_id}" th:data-carid="${car.id}">Удалить из избранного</button>
                    </form>
                </div>
            </div>
        </div>     

        <div id="favorite-notification" class="notification"></div>
        
        <a th:href="@{/main(user_id=${user_id})}" class="back-link">Вернуться на главную</a>
    </div>
    <script type="text/javascript" th:src="@{/js/user_acc.js}" defer></script>
</body>
</html>
